[Desktop Entry]
Name=Ring
Comment=Ring is a secured and distributed communication software.
Exec=gnome-ring %u
Icon=ring
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;Telephony;
Keywords=chat;talk;im;message;voip;
