[Desktop Entry]
Name=Jami
GenericName=Jami
Comment[hu]=A Jami egy biztonságos és elosztott csevegőprogram
Comment[ru]=Jami — приложение для защищённой связи с распределённой архитектурой
Comment=Jami is a secured and distributed communication software
Exec=gnome-ring %u
Icon=jami
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;Telephony;
Keywords=chat;talk;im;message;voip;
