[Desktop Entry]
Name=Jami
GenericName=Jami
Comment=Privacy-oriented voice, video, chat, and conference platform
Comment[hu]=Adatvédelem-orientált hang-, video-, csevegés- és konferenciaplatform
Comment[ru]=Jami — приложение для защищённой связи с распределённой архитектурой
Exec=jami-gnome %u
Icon=jami-gnome
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;Telephony;
Keywords=chat;talk;im;message;voip;
