Source: ring-gnome
Section: comm
Priority: extra
Maintainer: Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Standards-Version: 3.9.6
Homepage: http://ring.cx
Vcs-Git: https://gerrit-ring.savoirfairelinux.com/ring
Vcs-Browser: https://gerrit-ring.savoirfairelinux.com/#/admin/projects/ring
Build-Depends: debhelper (>= 9),
# Gnome
 autoconf, automake, libtool, libdbus-1-dev,
 libpcre3-dev, libyaml-cpp-dev, libboost-dev,
 libdbus-c++-dev, libupnp-dev, qtbase5-dev,
 yasm, autopoint, unbound-anchor, git-core, gnome-icon-theme-symbolic,
 autotools-dev, autoconf, automake, libtool, chrpath, check, astyle, 
 libgnutls28-dev, cmake,
 libclutter-gtk-1.0-dev, libclutter-1.0-dev, libglib2.0-dev, libgtk-3-dev,

Package: ring-gnome
Architecture: any
Section: gnome
Depends: ${shlibs:Depends}, ${misc:Depends}, ring-daemon, librsvg2-common
Description: Ring GNOME client
 Ring is a secured and distributed communication software.
