Source: ring-gnome
Section: comm
Priority: extra
Maintainer: Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Build-Depends: debhelper (>= 9),
# Gnome
 autoconf, automake, libtool, libdbus-1-dev,
 libpcre3-dev, libyaml-cpp-dev, libboost-dev,
 libdbus-c++-dev, libupnp-dev, qtbase5-dev,
 yasm, autopoint, unbound-anchor, git-core, gnome-icon-theme-symbolic,
 autotools-dev, autoconf, automake, libtool, chrpath, check, astyle, 
 libgnutls28-dev, cmake,
 libclutter-gtk-1.0-dev, libclutter-1.0-dev, libglib2.0-dev, libgtk-3-dev,
Standards-Version: 3.9.6
Homepage: http://www.sflphone.org
Vcs-Svn: svn://anonscm.debian.org/pkg-voip/sflphone/trunk/
Vcs-Browser: http://anonscm.debian.org/viewvc/pkg-voip/sflphone/trunk/

Package: ring-gnome
Architecture: any
Section: gnome
Depends: ${shlibs:Depends}, ${misc:Depends}, ring-daemon, librsvg2-common
Description: SIP and IAX2 compatible VoIP phone - GNOME client
 SFLphone is a SIP/IAX2 compatible softphone for Linux. The SFLphone project's
 goal is to create a robust enterprise-class desktop phone. While it can serve
 home users very well, it is designed with a hundred-calls-a-day receptionist
 in mind.
 .
 It features a flexible client/server architecture where the GTK+ client talks
 to the daemon through DBus and is capable of handling multiple VoIP connections
 at once.
 .
 This is the graphical client for GNOME.

